.admin-layout {
  display: flex;
  height: 100vh;
  background: #f8f9fa;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.sidebar {
  width: 190px;
  background: #111827;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
overflow: visible;
  .logo {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
      color: #ccc;
      text-decoration: none;
      padding: 0.7rem 1rem;
      border-radius: 8px;
      transition: all 0.2s;

      &.active, &:hover {
        background: #2563eb;
        color: #fff;
      }
    }
  }

  .logout {
    margin-top: auto;
    width: 100%;
    padding: 0.6rem;
    border: none;
    background: #ef4444;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
height: 100vh;
  .topbar {
    background: #fff;
    padding: 5px 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
     overflow-y: auto;
  }

  .content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
  }
}
.menu-group {
  position: relative;
}

/* Title */
.menu-group .menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.menu-group .menu-title:hover {
  background: #1f2937;
}

/* Submenu */
.menu-group .submenu {
  position: absolute;
  left: 100%;
 top: 50%;
  transform: translateY(-50%);

  max-height: 350px;   /* 🔥 limit height */
  overflow-y: auto;

  background: #1f2937;
  min-width: 180px;
  border-radius: 8px;
  padding: 8px 0;
  z-index: 9999;

  box-shadow: 0 4px 12px rgba(0,0,0,0.3);

  display: flex;
  flex-direction: column;
}

/* Submenu links */
.menu-group .submenu a {
  padding: 0.6rem 1rem;
  color: #ccc;
  text-decoration: none;
}

.menu-group .submenu a:hover {
  background: #2563eb;
  color: #fff;
}