<!-- src/app/layouts/admin-layout/admin-layout.component.html -->
<div class="admin-layout">
  <aside class="sidebar">
    <div class="logo">🛒 ECOM ADMIN</div>
    <nav>
      <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/admin/products" routerLinkActive="active">Products</a>
      <a routerLink="/admin/categories" routerLinkActive="active">Categories</a>
      <a  routerLinkActive="active">Companies</a>
      <a routerLink="/admin/orders" routerLinkActive="active">Orders</a>
      <a  routerLinkActive="active">Feedback</a>
      <a  routerLinkActive="active">Enquiries</a>

      <div class="menu-group" (click)="toggle()">
          <div class="menu-title">
              Reports
              <span class="arrow"></span>
          </div>
          <div class="sub-menu" *ngIf="isReportOpen">
            <a routerLink="/admin/report/category">Category</a>
            <a routerLink="/admin/report/products">Product</a>
            <a routerLink="/admin/report/enquiry">Enquiry</a>
            <a routerLink="/admin/report/customers">Customer</a>
            <a routerLink="/admin/report/feedback">Feedback</a>
            <a routerLink="/admin/report/orders">Order</a>
          </div>
      </div>

    </nav>
    <button class="logout" (click)="logout()">Logout</button>
  </aside>

  <main class="main-content">
    <header class="topbar">
      <h2>Admin Dashboard</h2>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>